<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="title" placeholder="title">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>task</option>
          <option>preread</option>
          <option>topic</option>
        </select>
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Content</label>
      <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Instructions for mentor</label>
        <textarea class="form-control" id="mentor" rows="3"></textarea>
      </div>
  </form>
