<div class="container">
<div class="row">
<div class="col-lg-3">
<button type="button" class="btn btn-danger" style="margin-top: 100px;">Add Day</button><br><br>
Day(1)<br><br>
<button type="button" aria-label="Close" class="btn btn-secondary">
  Day 1
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="col-lg-5">
  <div style="margin-top: 100px;">
    <p><b>Subject:</b> Subject2</p><br>
  <app-modal></app-modal>
  </div><br><br>
   <app-button></app-button>
</div>
  <div class="col-lg-4" style="margin-top: 100px;">
    <p><b>Syllabus:</b> Syllabus1</p><br>
    <angular-editor style="height: 100px;" [placeholder]="'Enter text here...'"></angular-editor>
</div>
</div>
</div>