.add {
    background: transparent;
    border: none;
}

.tempContent {
    background-color: white;
}

.borderBottom {
    border-bottom: 2px solid black;
}

a {
    color: darkblue;
    font-size: 1.2rem;
}

a:hover {
    font-size: 1.3rem;
    text-decoration: none;
}

.selected {
    color: rgb(74, 40, 167);
}